.landing-page {
    display: flex;
}

.top-page {
    display: flex;
    width: 85vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.latest-news {
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: left;
}

.css-1toxriw-MuiList-root-MuiMenu-list {
    width: auto;
}

.order-query-identifier {
    margin-left: 1rem;
    margin-top: 0;
    text-align: left;
}

.pages {
    display: flex;
    justify-content: center;
    max-height: 56px;
}

.pages p {
    border: 1px solid #213547;
    margin: 0;
    padding: 1rem;
    color: black;
}

.pages button {
    background-color: #9db4c0;
    border: 1px solid #213547;
    border-radius: 0;
    padding: 0 1rem;
    width: 7rem;
}

.pages button:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    margin: auto;
    padding: 0;
    width: 85vw;
}

.article-card {
    list-style-type: none;
    display: inline-block;
    border: 2px solid #213547;
    border-radius: 4%;
    width: 18rem;
    padding: 1.5rem;
    margin: 1rem;
    vertical-align: top;
    height: fit-content;
}

.article-card:hover {
    cursor: pointer;
}

.article-card:hover h3 {
    text-decoration: underline;
    font-weight: 600;
}

.article-img {
    height: 177px;
    width: auto;
}

.article-title {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
    align-items: center;
    margin-bottom: 0;
    color: #213547;
}

.article-details {
    display: flex;
    justify-content: space-around;
    color: #213547;
    opacity: 75%;
}

.author-and-date {
    text-align: left;
}

.posted-by, .vote-count {
    margin-top: 1rem;
    margin-bottom: 0;
}

.date-posted-single, .comment-count {
    margin-top: .25rem;
    margin-bottom: 0;
}