.landing-page {
    display: flex;
}

.top-page {
    display: flex;
    justify-content: space-between;
}

.latest-news {
    margin: 1rem 0 0 5rem;
    font-size: 1.5rem;
    text-align: left;
}

.pages {
    display: flex;
    margin-right: 5rem;
}

.pages p {
    border: 1px solid #213547;
    margin: 0;
    padding: 1rem;
    color: black;
}

.pages button {
    background-color: #9db4c0;
    border: 1px solid #213547;
    border-radius: 0;
    padding: 0 1rem;
}

.pages button:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    padding-left: 0;
    margin: 0;
}

.article-card {
    list-style-type: none;
    display: inline-block;
    border: 2px solid #edeba0;
    border-radius: 4%;
    width: 40%;
    padding: 1.5rem;
    margin: 1rem;
    vertical-align: top;
    height: 280px;
}

.article-card:hover {
    cursor: pointer;
}

.article-card:hover h3 {
    text-decoration: underline;
    font-weight: 600;
}

.article-img {
    height: 177px;
    width: auto;
}

.article-title {
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    align-items: center;
    margin-bottom: 0;
    color: #213547;
}

.article-details {
    display: flex;
    justify-content: space-around;
    color: #213547;
}

.posted-by, .comment-count {
    margin-bottom: 0;
    margin-top: 1rem;
}