#comments {
    width: 80%;
    margin: auto;
}

.comment-card {
    border-bottom: 2px solid #213547;
    width: 80%;
    margin: auto;
    list-style-type: none;
}

.comments-top {
    display: flex;
}

.comments-title {
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #213547;
}

.comments-number {
    background-color: #213547;
    margin: auto;
    border-radius: 50%;
    padding: .4rem .8rem;
    color: white;
    margin-left: 1rem;
}

.fa-comment {
    padding: .1rem;
}

.comment-details {
    display: flex;
}

.comment-details img {
    height: 3.5rem;
    width: 3.5rem;
    padding: .5rem 1rem;
    border-radius: 50%;
}

.comment-author {
    width: max-content;
    display: block;
    margin: auto;
    margin-left: 0;
    padding: 1rem 0;
}

.comment-date {
    margin: auto;
    margin-right: 4rem;
    opacity: 70%;
}

.comment-body {
    text-align: left;
    margin: 0;
    padding: .5rem 1rem 0 1rem;
}

.comment-vote {
    display: flex;
    margin: 0 1rem;
}

.comment-vote button {
    background-color: #CDD9DF;
    color: #213547;
    border: none;
    padding: 0 .5rem;
}

.comment-vote p {
    margin: 1rem .5rem;
}

.delete-comment-button, .confirm-delete-button {
    margin-left: .5rem;
    margin-bottom: .5rem;
    display: block;
    font-size: .75rem;
}

.safety-message {
    margin-left: .5rem;
    text-align: left;
    font-weight: 500;
}

.delete-comment-buttons {
    display: flex;
}

.error-comment-voting {
    margin-right: 4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

@media only screen and (max-width: 600px) {
    #comments {
        width: 100%;
    }
    .comments-top Button {
        padding: 0.5rem;
    }
    .comment-card {
        width: 90%;
    }
    .comments-number {
        margin-left: .5rem;
    }
    .comment-details {
        margin-top: .5rem;
    }
    .comment-details img {
        height: 3rem;
        width: 3rem;
        padding: .25rem .5rem;
        border-radius: 50%;
    }
    .comment-date {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .comment-body {
        padding: .5rem .5rem 0 .5rem;
    }
    .comment-vote {
        margin: 0;
    }
    .comment-vote p {
        margin-top: .5rem;
    }
    .post-comment-box {
        display: flex;
        flex-direction: column;
    }
    .post-comment-box div {
        width: 80vw;
        margin: auto;
    }
    .post-comment-box Button {
        margin: auto;
        margin-top: .75rem;
    }
    .error-comment-voting {
        margin-right: 1rem;
    }
  }