header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem 0 5rem;
}

.title {
    margin: 1rem 4rem;
    font-size: 3rem;
    color: #213547;
}

.user-login {
    max-height: fit-content;
    margin: auto;
    margin-right: 4rem;
}

.sign-in-button {
    display: flex;
    align-items: center;
}

.sign-in-text {
    margin-left: .5rem;
    color: #213547;
}