header {
    display: flex;
    justify-content: space-around;
}

.title {
    margin: 1rem 4rem;
    font-size: 3rem;
    color: #213547;
}

.user-login {
    max-height: fit-content;
    margin: auto;
    margin-right: 4rem;
}

.user-login-button {
    border-radius: 45%;
}

button:hover {
    border: 1px solid #213547;
}

.logged-in-user {
    text-align: right;
    margin-right: 4rem;
    margin-top: 0;
    font-weight: 500;
}