nav {
    border-top: 2px solid #213547;
    width: 90%;
    margin: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav-topic {
    margin: .5rem 2rem;
    padding: .5rem 1rem;
    color: #213547;
}

.nav-topic:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #213547;
}

.bold {
    font-weight: 700;
}