nav {
    border-top: 2px solid #213547;
    width: 85vw;
    margin: auto;
    display: flex;
    list-style-type: none;
}

.topic-list {
    margin-top: .5rem;
}

.nav-topic {
    margin: 0.5rem 0;
    padding: 0 1rem;
    color: #213547;
    border-right: 1px solid #213547;
}

.nav-topic:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #213547;
}

.bold {
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    nav {
      justify-content: space-around;
    }
  }