nav {
    border-top: 2px solid #213547;
    width: 85vw;
    margin: auto;
    display: flex;
    list-style-type: none;
}

.nav-topic {
    margin: .5rem 0;
    padding: .5rem 1rem;
    color: #213547;
    border-right: 1px solid #213547;
    line-height: .5;
}

.nav-topic:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #213547;
}

.bold {
    font-weight: 700;
}