.single-article {
    width: 85vw;
    margin: auto;
}

.back-to-articles-button {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: .75rem;
    display: block;
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.back-to-articles-button-bottom {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: .75rem;
    display: block;
    margin-top: 3rem;
    margin-left: 3rem;
}

#link-width {
   width: max-content;
}

.article-title-individual-article {
    font-size: 3rem;
}

.article-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.article-author-pic-username {
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.posted-by-individual-article {
    text-align: left;
    margin-left: 4rem;
    font-weight: 600;
    margin-bottom: 0;
}

.author-pic {
    height: 3.5rem;
    width: 3.5rem;
    padding: .5rem 1rem .5rem 0;
    border-radius: 50%;
}

.date-posted {
    text-align: left;
    margin-left: 4rem;
    opacity: 70%;
    border-top: 1px solid black;
    padding: .5rem 0;
    margin: .5rem 0 .5rem 3.5rem;
}

.related-articles {
    margin-right: 4rem;
    text-align: right;
    color: #213547;
}

.related-articles:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-count-individual-article {
    margin-right: 4rem;
    margin-bottom: 0;
    text-align: right;
}

.comment-count-individual-article:hover {
    cursor: pointer;
}

.comment-count-individual-article a {
    color: #213547;
}

.article-body {
    border-top: 2px solid #213547;
    width: 80%;
    margin: auto;
    padding: 2rem;
    text-align: left;
    font-size: 1.5rem;
}

.article-vote {
    display: flex;
    justify-content: right;
    margin-right: 4rem;
}

.article-vote button {
    background-color: #CDD9DF;
    color: #213547;
    margin: 1rem .5rem;
    margin-right: 0;
    text-align: right;
    padding: 0;
    border: 0;
}

.delete-article-section {
    margin-right: 4rem;
    text-align: right;
}

.delete-article {
    padding: 0;
    margin-top: 0;
    background-color: #CDD9DF;
    border: 1px solid #CDD9DF;
}

.delete-article:hover {
    border: 1px solid #CDD9DF;
}

.confirm-delete-button-article {
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-size: .75rem;
}

.confirm-delete-button-article-no {
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-size: .75rem;
    border: 1px solid #213547;
}

.vote-error {
    margin-right: 4rem;
    margin-top: 0rem;
}

.article-loading, .article-deleting {
    margin-top: 2rem;
    margin-bottom: 50vh;
}

@media only screen and (max-width: 600px) {
    .article-title-individual-article {
        font-size: 2rem;
    }
    .back-to-articles-button {
        margin-left: 0;
    }
    .article-image-individual-article {
        width: 250px;
    }
    .article-author-pic-username {
        margin-left: 1rem;
    }
    .posted-by-individual-article {
        margin-left: 1rem;
    }
    .author-pic {
        height: 3rem;
        width: 3rem;
        padding-right: .5rem;
    }
    .date-posted {
        margin-left: 1rem;
    }
    .related-articles {
        margin-right: 1rem;
        font-size: .8rem;
    }
    .comment-count-individual-article {
        margin-right: 1rem;
    }
    .article-vote {
        margin-right: 1rem;
    }
    .article-vote button {
        margin-top: .5rem;
        margin-bottom: 0.25rem;
    }
    .article-body {
        width: 80%;
        padding: 1rem;
        font-size: 1rem;
    }
    .delete-article-section {
        margin-right: 1rem;
    }
    .delete-article {
        font-size: .75rem;
    }
    .safety-message {
        font-size: .75rem;
    }
    .confirm-delete-button-article {
        margin-left: .5rem;
        margin-bottom: .5rem;
        font-size: 75.rem;
    }
    .vote-error {
        margin-right: 1rem;
    }
    .back-to-articles-button-bottom {
        margin-left: 1rem;
        margin-top: 2rem;
    }
  }