.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.sign-out-button {
    border-radius: 5%;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .user-card img {
      height: 10rem;
    }
  }